@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    color: #fff;
}

.hero { 
    background-image: url(federico-di-dio-photography-gBC_oFh_lQM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/*HEADER*/

header {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

nav {
    font-size: 18px;
    width: 45vh;
    display: flex;
    justify-content: space-between;
}

a:hover {
    color: rgb(255, 196, 0);
    transition: 0.5s;
}

/* TEXTO HERO*/

.contenido-hero {
    margin-top: 10%;
    margin-left: 16%;
}

h1,h2 {
    width: 10%;
}

p {
    width: 40%;
}

h1, h2, p {
    position: relative;
    z-index: 3;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 100px;
    color: rgb(255, 196, 0);
}

/*imagenes*/

.fotos img {
    position: absolute;
    top: 55%;
    left: 48%;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    z-index: 2;
}

.fotos img:first-child{
    width: 300px;
    height: 200px;
    top: 23%;
    left: 44%;
}

.fotos img:last-child {
    z-index: 1;
    height: 300px;
    width: 300px;
    top: 40%;
    left: 63%;
}

.fotos img:hover {
    box-shadow: 0 0 20px rgb(255, 196, 0);
}

/*LINKS FOOTER*/

.redes {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    height: 50%;
    align-items: center;
    margin-left: 13%;
}

.ocultado {
    display: none;
}